
.nav{
    background-color: rgb(23, 38, 58);
    height: 50px;
    width: 100%;
    position: sticky;
    margin: 0px;
    top: 0px;
    padding: 0px;
    border-top: #fff;
}

.logo{
    padding: 0px 0px 0px 30px;
    margin: 0px 0px 0px 0px ;
    float: left;
    clear: both;
}
.h1{
    font-size: 40px;
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
    text-shadow:1px 2px rgb(218, 208, 208); 
    text-align: center;
}
.h-text{
    font-size: 25px;
    text-align: center;
}
nav ul{
    float: right; 
    margin: -32px 10px;
    padding: 0px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
}
.hero-con{
  height: 800px;
}
.hero-text{
    width: 600px;
    color: #000000;
    text-shadow:1px 1px rgb(218, 208, 208); 
}
.footer{
  background-color: #3e3f41;
  height:"500px"
}
.footer-list{
  list-style: none;
}

.address{
  color: #fff;
  

}
.education{
    height: 1600px;
}
.job{
  font-size: 60px;
  text-align: center;
  color: rebeccapurple;
}
.edheader{
  text-align: center;
  color: #000000;
  text-shadow: 1px 1px white;
  font-size: 60px
}
.edpara{
  text-align: center;
  color: #000000;
  text-shadow: 1px 1px white;
  font-size: 30px;
}
.parallax {
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax-1 {
    background-image: url(/MFW-Final-Project/IMG/20211105_124722.jpg);
  }
  .parallax-2{
      background-image: url(/MFW-Final-Project/IMG/Resized_20200407_180035.jpeg);
  }
  .parallax-3{
      background-image: url(/MFW-Final-Project/IMG/jon-tyson-QL0FAxaq2z0-unsplash.jpg);
      /* Photo by Jon Tyson on Unsplash */
  }
  
  .USU{
    font-size: 30px;
    color: rgb(16, 16, 143);
  }
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #0a0a0a; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    
  }
  .contact-con {
    border-radius: 5px;
    background-color: #3e3f41;
    padding: 20px;
    color: #fff;
    border: 1px solid #000;
  }